.board-builder-container {
    display: flex; // Ensure flex display
    align-items: center;
    width: 40%; // Increased from 40%
    max-width: 800px; // Increased from 600px
    margin: 4px auto 24px auto;
    padding: 8px; // Increased padding
    gap: 5px; // Increased gap between elements
    border: 1px solid lightgrey;
    border-radius: 5px;
    * {
        font-family: $font-family-primary;
    }
    input {
        border: none;
        outline: none;
        flex-grow: 1;
        margin: 0;
        font-size: 1rem;
    }
    
    .night-icon {
        transition: 0.3s;
        margin-left: auto; // This will push the generate button to the end
        &:hover {
            background: none;
            color: #6f6dff;
        }
    }
    .mic-icon {
        margin: 0; // Remove margin-right: auto
        transition: 0.3s;
        &:hover {
            background: none;
            color: inherit; // Keep the color as is when hovered
        }
    }
}

.breadcrumb-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    font-size: 0.875rem;
    font-weight: bold;
    color: white;
}

.breadcrumb-step {
    position: relative;
    padding: 5px 12px;
    padding-inline-start: 10px;
    transition: color 0.3s;
}

.breadcrumb-step::after {
    // content: '\f061';
    content: '>';
    position: absolute;
    right: -5px;
}

.breadcrumb-step:last-child::after {
    content: '';
}

.breadcrumb-step.isActive {
    color: rgb(106, 196, 255);
}

.breadcrumb-step.completed {
    color: rgba(106, 195, 255, 0.5);
}

.board-builder-title {
    text-align: center;
    margin-bottom: 20px; // Increased margin
    width: 40%; // Make title narrower than container
    margin-left: auto;
    margin-right: auto;
}
